body{background:#999;}

.header{
	background:#fff;
	width:100%;
	max-width:1200px;
	border-radius:10px;
	margin:auto;
	padding:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.logo{
	width:50px;
	height:50px;
	border-radius:50%;
}

.zonenav{
	background:rgb(250,250,250);
	display:flex;
	gap:10px;
	padding:10px;
	align-items: center;
	border-radius:7px;
}

.header a {
	
	text-decoration:none;
	margin-right:20px;
	font-size:20px;
	font-weight:bold;
}

.header a:hover{
	color:red;
	
}


.main{
	background:white;
	max-width:100%;
	width:400px;
	margin:auto;
	
	padding:20px;
	text-align:center;
	border-radius:50px;
}

.main h2{
	color:blue;
	font-size:30px;
}

.main h3{
	font-size:25px;
}

h1{
	text-align:center;
	margin-top:100px;
	color:black;
}

.eddy{
	background:blue;
	width:100%;
	max-width:1200px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:50px auto;
	padding:20px;
	text-align:center;
	border-radius:10px;
}

.carte{background:white;
justify-content:space-araound;
width:80%;
max-width:30%;
padding:10px;
border-radius:10px;
gap:20px;

}
.carte img{
	width:200px;
	height:200px;
	border-radius:50%;
}
.carte a{
	text-decoration:none;
	font-weight:bold;
}

.carte p{
	font-size:20px;
}

.fomile{
	
	width:95%;
	max-width:90;
}

.fomile input{
	width:80%;
	padding:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-radius:30px;
}

.bouton{
	background:blue;
	width:100%;
	padding:10px;
	color:white;
	font-size:30px;
	font-weight:800px;
	margin-bottom:10px;
	margin-top:10px;	
}

.bouton:hover{
	background:gray;
	cursor:pointer;
	color:black;
	tranform:scale(0.1);
}

.boutons{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:white;	
}
.boutons a{
	gap:20px;
	padding:10px;
	border-radius:10px;
	color:white;
	width:100%;
	max-width:40%;
	font-size:18px;
}
.bouton1{
	background:red;
	
}
.bouton2{
	background:green;
}





